.buycard {
    display: flex;
    height: 100px;
    margin: 3% 0;
    align-items: center;
}

.rien {
    display: none;
}

.buycard img {
    height: 80px;
    transform: rotate(20deg);
    transition: 1s;
    filter: blur(1px);
}

.buycard img:hover {
    cursor: pointer;
    transform: rotate(0deg);
    transition: 1s;
    filter: blur(0);
}

.buycard p {
    width: 250px;
}

.buycard button {
    width: 100px;
    height: 35px;
    background-color: rgb(117, 117, 117);
    color: white;
    border-radius: 7px;
}